* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    margin-top: 20vh;
}

.battle-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center; /* Centra los elementos en el contenedor */
}

.pokemon {
    text-align: center;
    margin: 20px;
}

.pokemon img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

h1 {
    font-size: 48px;
    margin: 0 20px;
}

.health-bar {
    width: 200px; /* Tamaño fijo de la barra */
    height: 20px;
    background-color: red; /* Barra de salud roja */
    border-radius: 10px;
    margin-top: 10px;
    position: relative; /* Asegura que el contenido dentro se posicione correctamente */
}

.health-bar-inner {
    height: 100%; /* La barra verde tiene el mismo alto que el contenedor */
    background-color: green; /* Barra de salud verde */
    border-radius: 10px;
    width: 0%; /* Empezamos con el 0% y se ajustará dinámicamente */
    position: absolute; /* Permite que el contenido cambie de ancho sin afectar otros elementos */
    top: 0;
    left: 0;
}

.actions {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #007BFF;
    color: #ffffff;
}

button:hover {
    background-color: #0056b3;
}
.back-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #007BFF;
    color: #ffffff;
}

.back-button:hover {
    background-color: #0056b3;
}

#logs {
    width: 100%;
    max-width: 600px;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

#log {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

